

.FormBody{
    background: conic-gradient(from 188.74deg at 55.59% 33.39%, #4973AD 0deg, rgba(255, 255, 255, 0) 232.82deg, #4973AD 360deg), #E9E9E9;
    height: 100%;

}

.FormContainer{
    /*background-color: white;*/
    background-color: white;
    border-radius: 50px;
    margin-bottom: 0;
    margin: 10% 0% 10% 10% 10%;
    height: 100%;
    width: 35%; 
}